@require 'constants.styl'
@require 'fonts.styl'

button()
    color textColor2
    width 100%
    font-medium()
    text-align center
    padding 10px
    border-radius 3px
    border empColor2_2 solid 1px
    text-shadow none
    transition all 0.2s ease
    cursor pointer
    box-sizing border-box
    background mix(empColor2_3, transparent)
    box-shadow 5px 5px 10px colorShadow
    @media ({mobile})
        box-shadow none

    &:hover
        color textColor1
        border-color empColor2_1
        box-shadow 5px 5px 15px colorShadowDark

    &:disabled
        pointer-events none
        color textColor4
        background saturation(empColor2_3, 20%)
        box-shadow none


button-submit()
    button()
    background blocksBgColor
    background #444444
    border-color empColor1_3
    &:hover
        border-color empColor1_2
    &:disabled
        background #444444AA
        border-color empColor1_4

button-danger()
    button()
    background mix(colorNo, transparent)
    border-color colorNo
    &:hover
        border-color mix(colorNo, white)
