@require 'constants.styl'
@require 'fonts.styl'

button()
    color textColor2
    width 100%
    font-medium()
    padding 10px
    border-radius 3px
    border empColor2_2 solid 1px
    text-shadow none
    transition all 0.2s ease
    cursor pointer
    box-sizing border-box
    background mix(empColor2_3, transparent)
    box-shadow 5px 5px 10px colorShadow
    display flex
    align-items center
    justify-content center
    @media ({mobile})
        box-shadow none

    &:hover
        color textColor1
        border-color empColor2_1
        box-shadow 5px 5px 15px colorShadowDark

    &:disabled
        pointer-events none
        color textColor4
        background saturation(empColor2_3, 20%)
        box-shadow none


button-submit()
    button()
    padding 10px 20px
    background blocksBgColor
    background #444444
    border-radius 1000px
    border-color empColor1_3
    &:hover
        border-color empColor1_2
    &:disabled
        background #444444AA
        border-color empColor1_4

button-danger()
    button()
    background mix(colorNo, transparent)
    border-color colorNo
    &:hover
        border-color mix(colorNo, white)
button-success()
    button()
    background mix(colorYes, transparent)
    border-color colorYes
    &:hover
        border-color mix(colorYes, white)

button-dashed()
    margin 0 auto
    padding 2px 20px 2px 10px
    border 2px dashed borderColor
    display flex
    align-items center
    border-radius 100px
    width min-content
    backdrop-filter blur(10px)
    cursor pointer
    transition all 0.2s ease
    &:hover
        background blocksBgColorHover
    img
        margin-right 10px
        width 40px
        min-width 40px
        height 40px
