// --------- Base constants.
textColor1 = #e8d1f5
textColor2 = #deb1e5
textColor3 = #b891c1
textColor4 = #a286ab

empColor1_1 = #00ffd9
empColor1_2 = #1cb08a
empColor1_3 = #1a795f
empColor1_4 = #0f4439

empColor2_1 = #5e00ff
empColor2_2 = #5a21bb
empColor2_3 = #381c69
empColor2_4 = #28144d

bgColor = #181818
borderColor = #646464
bgBlocksColor = #54545466

colorShadowLight-x = #00000015
colorShadowLight = #00000033
colorShadow =      #00000044
colorShadowDark =  #00000055
colorShadowDark-x = #000000BB

colorNo = #d32ab2
colorYes = #33de5b

mobile = unquote('max-width: 700px')
desktop = unquote('min-width: 700px')
