// --------- Base constants.

fontSizeBig = calc(1em + 2vw)
fontSizeMiddle = calc(.6em + 1.3vw);

textColor1 = #f5e0d1
textColor2 = #e5cdb1
textColor3 = #c1a691
textColor4 = #ab9a86

textEmpColor1 = #feb386
textLightingNormal1 = 0 0 8px #c3a38e
textLightingNormal2 = 0 0 3px #a29a97

textLightingLow = 0 0 50px #f5f0f0, 0 0 30px #f54da1, 0 0 40px #f54da1, 0 0 50px #f54da1, 0 0 60px #f54da1
textLightingHigh = textLightingLow, 0 0 70px #f54da1, 0 0 80px #f54da1
textLightingHigh2 = 0 0 8px #c6c1bf, 0 0 4px #ae613c

bgColor = #0e0909

empColor1 = #b8860b
empColor2 = #d4a740
empColor3 = #b08946
empColor4 = #d2825c
empColor5 = #a78331
empColor6 = #5b3509

colorBorder = gray

colorShadowLight-x = #00000015
colorShadowLight = #00000033
colorShadow =      #00000044
colorShadowDark =  #00000055
colorShadowDark-x = #000000BB

colorNo = #a13623
colorYes = #5e9b25

mobile = unquote('max-width: 700px')
desktop = unquote('min-width: 700px')
