// --------- Base constants.
textColor1 = #def5f0
textColor2 = #b1e5df
textColor3 = #91bfc1
textColor4 = #86a1ab
textColor5 = #728186

empColor1_1 = #00ffd9
empColor1_2 = #1cb08a
empColor1_3 = #1a795f
empColor1_4 = #0f4439

empColor2_1 = #ffb700
empColor2_2 = #bb7d21
empColor2_3 = #694a1c
empColor2_4 = #4d3114

bgColor = #181818
borderColor = #646464
borderColorDark = #18181888
blocksBgColor = #44444455
blocksBgColorHover = mix(blocksBgColor, white, 95%)

colorShadowLight-x = #00000015
colorShadowLight = #00000033
colorShadow =      #00000044
colorShadowDark =  #00000055
colorShadowDark-x = #000000BB

colorNo = #d3492a
colorYes = #33de5b

header-height = 70px

mobile = unquote('max-width: 700px')
desktop = unquote('min-width: 700px')
