font-large()
    font-family Arial, monospace
    line-height 1.2
    font-size calc(1.5rem)
font-medium()
    font-family Arial, monospace
    line-height 1.2
    font-size calc(1rem)
font-small()
    font-family Arial, monospace
    line-height 1.2
    font-size calc(.8rem)
font-small-extra()
    font-family Arial, monospace
    line-height 1.2
    font-size calc(.6rem)

font-bold()
    font-weight 700
font-normal()
    font-weight 500
font-thin()
    font-weight 400
