@require 'constants.styl'

font-large()
    font-family Arial, monospace
    line-height 1.2
    font-size 20px

font-medium()
    font-family Arial, monospace
    line-height 1.2
    font-size 16px

font-small()
    font-family Arial, monospace
    line-height 1.2
    font-size 12px

font-bold()
    font-weight 700
font-normal()
    font-weight 500
font-thin()
    font-weight 400
