font-large()
    font-family Arial, monospace
    line-height 1.2
    font-size calc(1em + 2vw)
font-medium()
    font-family Arial, monospace
    line-height 1.2
    font-size calc(.6em + 1.3vw)
font-small()
    font-family Arial, monospace
    line-height 1.2
    font-size calc(.4em + 1vw)
font-small-extra()
    font-family Arial, monospace
    line-height 1.2
    font-size calc(.3em + 0.8vw)

font-bold()
    font-weight 700
font-normal()
    font-weight 500
font-thin()
    font-weight 400
