@require 'constants.styl'

.show
    animation show 0.3s linear forwards
.showed
    animation none
.hide
    animation hide 0.3s linear forwards
.hidden
    display none !important

@keyframes hide
    0%
        opacity 1
    100%
        opacity 0
@keyframes show
    0%
        opacity 0
    100%
        opacity 1


.roll-active
    transition height 0.3s ease
    overflow-y hidden
.roll-active.closed
    height 0

.simple-roll
    transition max-height 0.3s ease
    overflow-y hidden
    max-height 1000px
.simple-roll.closed
    max-height 0

.no-animations
    transition none

@media ({mobile})
    .roll-closed
        transition height 0.3s ease !important
