@require 'constants.styl'

.__show
    animation __show 0.3s linear forwards
.__showed
    animation none
.__hide
    animation __hide 0.3s linear forwards
.__hidden
    display none !important

@keyframes __hide
    0%
        opacity 1
    100%
        opacity 0
@keyframes __show
    0%
        opacity 0
    100%
        opacity 1


.roll-active
    transition height 0.3s ease
    overflow-y hidden
.roll-active.closed
    height 0

.simple-roll
    transition max-height 0.3s ease
    overflow-y hidden
    max-height 1000px
.simple-roll.closed
    max-height 0

.__no-animations
    transition none

@media ({mobile})
    .roll-closed
        transition height 0.3s ease !important
