@require '../styles/constants.styl'
@require '../styles/fonts.styl'


centered()
    margin-left auto
    margin-right auto
    width 100%

block()
    font-medium()
    background blocksBgColor
    max-width 460px
    border-radius 7px
    backdrop-filter blur(10px) brightness(3)
    transition all 0.3s ease
    padding 30px
